* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arvo", serif;
    /* color: white; */
}

#container {
    width: 100%;
    /* height: 100vh; */
    position: relative;
    background-color: whitesmoke;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0px;
}

.logo {
    width: 130px;
}

.nav-items {
    list-style: none;
    margin: 0px 10px;
    display: inline;
    font-size: 10px;
}

input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    /* margin-top: 8px;
    margin-right: 16px;
    font-size: 17px; */
}

.links {
    padding: 0px 3px;
    text-decoration: none;
    color: white;
}

#heading {
    /* display: flex; */
    justify-content: center;
}

.head1 {
    color: black;
}

#head2 {
    margin-top: 10px;
    color: brown;
    font-size: 20px;
}

.head-text {
    padding: 100px;
    width: auto;
    background-image: url(./images/pexels-hngstrm-3137890.jpg);
    margin: 2%;
    text-align: center;
    font-size: 30px;
}

#main-home {
    margin: 0px 20px 0px 20px;
}

.home-main {
    background-color: beige;
    width: 100%;
    height: 450px;
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    /* justify-content: space-evenly; */
    margin-top: 40px;
}
.home-img {
    width: fit-content;
    position: absolute;
    margin-left: 700px;

}
/* .group1{
    position: absolute;
    height: auto;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 2s, left 1s;
}
.home-img:hover #shape {
    bottom: 30%;
}

.home-img:hover #girl {
    left: 40% */
/* } */
.home-head {
    font-family: "Baskervville SC", serif;
    font-size: 22px;
    width: auto;
    margin-left: 50px;

}


#nav-menu {
    height: 50px;
    background-color: black;
}

.menu-head1 {
    font-size: 15px;
    text-decoration: none;
}

.menu-nav {
    list-style: none;
    display: inline;
    font-size: 15px;
    justify-content: center;
}

.links {
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
    color: blueviolet;
}

.grid-image {
    padding: 100px;
    margin: 70px 100px 0px 100px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
}

.images-grid1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.images-grid2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.images-grid3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.images-grid4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.images-grid5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.images-grid6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.img-gr {
    /* padding: 20px; */
    width: 100%;
    /* height: 100%; */
}
.b-f{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.b-foot{
    text-align: center;
}

.bf-icon{
    font-size: 30px;
}

.bf-head{
    font-size: 25px;
    font-weight: 600;
}

.bf-para{
    font-size: 15px;
    text-align: center;
}

.yt-vid {
    /* background-image: url(); */
    padding: 10px;
    margin: 70px 20px 0px 20px;
    text-align: center;
    /* width: 100%; */
}

#blogs {
    margin: 70px 20px 0px 20px;
background-color: blanchedalmond;
}

.blog-head {
    margin: 30px;
    text-align: center;
    font-family: "Baskervville SC", serif;

}

.blog-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 40px;
}

.blog-1 {
    text-align: center;
    margin: 30px 20px;
    width: 100%;

    /* display: flex; */
    /* justify-content: left; */
    /* align-items: center; */
}

.blog-img {
    width: 200px;
}

#contact {
    margin-top: 100px;
    /* background-color: wheat; */
    width: 100%;
    height: 250px;
}
#contact-head{
    text-align: center;
    font-family: "Baskervville SC", serif;
}
.icon-collections {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    align-items: center;
}

.icons {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons:hover {
    background-image: linear-gradient(to bottom right, grey, blueviolet, rgb(58, 194, 209));
}

.brands {
    color: black;
    font-size: 30px;
}

.brands:hover {
    color: white;
    animation: rotate 3s;
}

@keyframes rotate {
    0% {
        transform: rotate(30deg);
    }

    20% {
        transform: rotate(-30deg);
    }

    40% {
        transform: rotate(30deg);
    }

    60% {
        transform: rotate(-30deg);
    }

    80% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}

.parent {
    background-color: black;
    color: white;
    width: 100%;
    height: 305px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    /* border-top: solid 1px rgb(228, 227, 227); */
}

.child {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.ftr-logo {
    width: 100px;
}

.ftr {
    text-decoration: none;
    color: white;
    line-height: 25px;
}
.up-arrow{
    float: right;
    margin: -40px 10px 30px 0px;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    /* background-color: bisque; */
    background-image: linear-gradient(to bottom,yellow,green,purple);
}

::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 10px;
}